/* .nav{
    background-color: black;
    color: white;
    padding: 5px;
}

ul{
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

li{
    margin-right: 10px;
} */